
.form {
  width: 70%;
  margin-left: 12rem;
}

.titulo {
  padding-top: 5px;
  text-align: center;
}


.img-Inicio{
  width: 100%;
  height: 50vw;
}

.cursor{
  cursor: pointer;
}

@media only screen and (max-width : 900px) {
  .img-Inicio{
    width: 100%;
    height: 75vw;
  }
}